

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Bellefair', serif;
  font-weight: 300;
}








/*XS*/ /*XS*/ /*XS*/ /*XS*/ /*XS*/ /*XS*/ /*XS*/ /*XS*/ /*XS*/ /*XS*/ 
@media(max-width:767px){
  body #centerbox {
    border: 0px solid;
    /*padding: 10%;*/
  }

  body {
      background: white;
  }

  .paisley {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .name {
    font-color: red;
  }

  .topnav {
    background-color: white;
    overflow: hidden;
  }

  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 3px ;
    text-decoration: none;
    font-size: 17px;
  }

  .name h1 {
    text-align: left;
    font-family: 'Amatic SC', cursive;
    color: red;
    font-size: 3.0em;
  }

  header {
    float: center;
    width: 100%;
    height: 65px;
    background-image:url('../img/paisley.jpg');
  }


  .dev-icons img {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .mission-statement p {
    color: black;
    font-family: 'Amatic SC', cursive;
    word-spacing: 2px;
    font-size: 30px;
  }

}



















/*SM*/ /*SM*/ /*SM*/ /*SM*/ /*SM*/ /*SM*/ /*SM*/ /*SM*/ /*SM*/ 
@media(min-width:768px){
  body #centerbox {
        border: 0px solid;
  }

  body {
      background: white;
  }

  .paisley {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .name {
    font-color: red;
  }

  .topnav {
    background-color: white;
    overflow: hidden;
  }

  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
  }

  .name h1 {
    text-align: left;
    font-family: 'Amatic SC', cursive;
    color: green;
    font-size: 3.0em;
  }

  header {
    float: center;
    width: 100%;
    height: 65px;
    background-image:url('../img/paisley.jpg');
  }

  .dev-icons img {
    height: 150px;
    width: 150px;
    padding-bottom: 10px;
  }

  .mission-statement p {
    color: black;
    font-family: 'Amatic SC', cursive;
    word-spacing: 2px;
    font-size: 2.8em;
  }
}
















/*MD*/ /*MD*/ /*MD*/ /*MD*/ /*MD*/ /*MD*/ /*MD*/ /*MD*/ /*MD*/ /*MD*/ /*MD*/ 
@media(min-width:992px){

  body {
  background: #707070;
  }

  .name h1 {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 4em;
  }

  .topnav {
    background-color: #707070;
    overflow: hidden;
    height: auto;
    width: auto;
    margin-bottom: 0px; 
  }


  .topnav a {
    float: right;
    color: black;
    text-align: center;
    font-size: 1.4em;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }

  body #centerbox {
    border: 10px solid #aa7243;
    width: auto;
    /*margin: 0 auto;*/
    margin-top: 0px;
    height: 1800px;
    background: white;
    text-align: center;
  }

  header {
    display: none;
    width: 0%;
    height: 0px;
    height: 0px;
  }

  .mission-statement p {
    color: black;
    font-family: 'Amatic SC', cursive;
    word-spacing: 2px;
    font-size: 3.0em;
    padding-top: 20px;
  }

    .dev-icons img {
    height: 105px;
    width: 105px;
    padding-bottom: 10px;
  }


}















/*LG*/
/*@media(min-width:1200px){}*/




/*PROFILE PIC*/

.profile img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  zoom: 150%;
}













/*@media only screen and (max-width: 700px) {}*/